<%- include('layout/header') %>

  <body>
    <div class="menu-main-container">
      <%- include('layout/menu') %>

        <div class="form-container">
          <h2 class="form-title">Adauga o carte citita</h2>
          <form action="/posts/add" method="post" id="add-form">
            <div class="form-field">
              <label for="name" class="form-label">Numele cartii:</label>
              <input type="text" name="name" class="text-input" required />
            </div>
            <div class="form-field">
              <label for="author" class="form-label">Autorul:</label>
              <input type="text" name="author" class="text-input" required />
            </div>
            <div class="form-field">
              <label for="description" class="form-label">Cum ti s-a parut?</label>
              <textarea type="text" name="description" class="text-area" required></textarea>
            </div>
            <div class="form-field">
              <label for="category" class="form-label">Categoria:</label>
              <select name="category" class="select-input" required>
                <option value="">-- Selectați o categorie --</option>
                <% categories.forEach(function(category) { %>
                  <option value="<%= category._id %>">
                    <%= category.name %>
                  </option>
                  <% }); %>
              </select>
            </div>


            <div class="form-field">
              <input type="submit" name="submit" value="Adaugare postarea!" class="submit-btn" />
            </div>
          </form>
        </div>
        <div class="flex-balance">

        </div>
    </div>


    <%- include('layout/footer') %>