<%- include('layout/header') %>

  <body>
    <div class="menu-main-container">
      <%- include('layout/menu') %>

        <div class="container">

          <% if (categories !='' ) { %>
            <table id="categoryTable">
              <thead>
                <tr>
                  <th>Categoria</th>
                  <th>Nr. Carti</th>
                  <th>Ultima Carte Adaugata</th>
                  <th>Editeaza</th>
                  <th>Stergere</th>
                </tr>
              </thead>
              <tbody>
                <% categories.forEach((row,index)=> { %>
                  <tr id="row-<%= row._id %>">
                    <td>
                      <%= row.name %>
                    </td>
                    <td>
                      <%= row.posts %>
                    </td>
                    <td>
                      <% const formattedDate=new Date(row.lastPost).toLocaleString(); %>

                        <% if (formattedDate !="01.01.1970, 02:00:00" ) { %>
                          <%= formattedDate %>
                            <% } else { %>
                              <%= ' ' %>
                                <% } %>
                    </td>
                    <td>
                      <button onclick="editCategory('<%= row._id %>', '<%= row.name %>')" id="editIcon"><i
                          class="fas fa-edit editIcon"></i></button>
                    </td>
                    <td>
                      <a href="/categories/delete/<%= row._id %>"><i class="fas fa-trash deleteIcon"></i></a>
                    </td>
                  </tr>
                  <% }) %>
              </tbody>
            </table>
            <% } else { %>
              <h1 class="noTable">No categories found in the database!</h1>
              <% } %>

                <form action="/categories/add" method="post" id="add-form">
                  <div class="add-container">
                    <input type="name" name="name" class="add-input" placeholder="Numele categoriei:" required />
                    <input type="submit" name="submit" class="send-btn" value="ADAUGA" />
                  </div>
                </form>

                <form action="/update" method="post" id="upload-form" class="hide">
                  <div class="add-container">
                    <input type="name" name="name" class="add-input" placeholder="sss" required />
                    <input type="submit" name="submit" class="send-btn" value="EDITEAZA" />
                  </div>
                </form>
                <br><br><br><br>
                <h1 class="title">Ultimele 3 postari</h1>
                <% if (latestPosts !='' ) { %>
                  <table id="categoryTable">
                    <thead>
                      <tr>
                        <th>Nume</th>
                        <th>Descriere</th>
                        <th>Autorul</th>
                        <th>categoria</th>
                        <th>Postat la</th>
                      </tr>
                    </thead>
                    <% latestPosts.forEach((row,index)=> { %>
                      <tr id="row-<%= row._id %>">
                        <td>
                          <%= row.name %>
                        </td>
                        <td>
                          <%= row.description %>
                        </td>
                        <td>
                          <%= row.author %>
                        </td>
                        <td>
                          <% if (row.category) { %>
                            <%= row.category.name %>
                              <% } else { %>
                                No Category
                                <% } %>
                        </td>
                        <td>
                          <% const formattedDate=new Date(row.lastPost).toLocaleString(); %>

                            <% if (formattedDate !="01.01.1970, 02:00:00" ) { %>
                              <%= formattedDate %>
                                <% } else { %>
                                  <%= 'DD.MM.YYYY, HH:MM:SS' %>
                                    <% } %>
                        </td>
                      </tr>
                      <% }) %>
                  </table>
                  <% } else { %>

                    <% } %>
        </div>
        <div class="flex-balance">

        </div>
    </div>
    <%- include('layout/footer') %>