<%- include('layout/header') %>

  <body>
    <div class="main-container">
      <%- include('layout/menu') %>

        <div class="form-container">
          <h2 class="form-title">Editeaza cartea <%= posts.name %>
          </h2>
          <form action="/posts/update/<%= posts._id %>" method="post" id="add-form">
            <div class="form-field">
              <label for="name" class="form-label">Numele cartii:</label>
              <input type="text" name="name" class="text-input" value="<%= posts.name %>" maxlength="80" required />
            </div>
            <div class="form-field">
              <label for="author" class="form-label">Autorul:</label>
              <input type="text" name="author" class="text-input" value="<%= posts.author %>" maxlength="80" required />
            </div>
            <div class="form-field">
              <label for="rating" class="form-label">De la 1 la 10 cum ti s-a parut?</label>
              <input type="range" name="rating" min="1" max="10" value="<%= posts.rating %>" class="rating-input"
                required />
              <div class="rating-value" id="rating-value">Nota: <%= posts.rating %>
              </div>
            </div>
            <div class="form-field">
              <label for="category" class="form-label">Categoria:</label>
              <select name="category" class="select-input" required>
                <option value="">-- Selectați o categorie --</option>
                <% categories.forEach(function(category) { %>
                  <option value="<%= category._id %>" <% if (category._id.toString()===posts.category.toString()) { %>
                    selected<% } %>>
                      <%= category.name %>
                  </option>
                  <% }); %>
              </select>
            </div>


            <div class="form-field">
              <input type="submit" name="submit" value="Editeaza cartea!" class="submit-btn" />
            </div>
          </form>
        </div>
        <div class="flex-balance">

        </div>
    </div>


    <%- include('layout/footer') %>