<%- include('layout/header') %>

  <body>
    <div class="main-container">
      <%- include('layout/menu') %>
        <div class="container">
          <% if (posts !='' ) { %>
            <table class="table posts-table">
              <thead>
                <tr>
                  <th>Nume</th>
                  <th class="width-100">Nota</th>
                  <th>Autorul</th>
                  <th>Categoria</th>
                  <th class="width-200">Postat la data de</th>
                  <th class="width-100">Editeaza</th>
                  <th class="width-100">Sterge</th>
                </tr>
              </thead>
              <tbody>
                <% posts.forEach((row,index)=> { %>
                  <tr id="row-<%= row._id %>">
                    <td>
                      <%= row.name %>
                    </td>
                    <td class="width-100">
                      <%= row.rating %>
                    </td>
                    <td>
                      <%= row.author %>
                    </td>
                    <td>
                      <% if (row.category) { %>
                        <%= row.category.name %>
                          <% } else { %>
                            No Category
                            <% } %>
                    </td>
                    <td class="width-200">
                      <% const formattedDate=new Date(row.lastPost).toLocaleString(); %>

                        <% if (formattedDate !="01.01.1970, 02:00:00" ) { %>
                          <%= formattedDate %>
                            <% } else { %>
                              <%= ' ' %>
                                <% } %>
                    </td>
                    <td class="width-100">
                      <a class="edit-icon" href="/posts/edit/<%= row._id %>"><i class="fas fa-edit editIcon"></i></a>
                    </td>
                    <td class="width-100">
                      <a href="/posts/delete/<%= row._id %>"><i class="fas fa-trash deleteIcon"></i></a>
                    </td>
                  </tr>
                  <% }) %>
              </tbody>
            </table>

            <% } else { %>
              <img class="overlay-image no-table-warning" src="/images/posts_replace.png" alt="Nici o carte gasita!">
              <% } %>
                <%- include('layout/footer') %>
        </div>
        <div class="flex-balance">

        </div>
    </div>